[general]
active_provider = "ollama"
max_diff_length = 36000
# Optional: List of file extensions to include in git diff
# git_extensions = ["*.rs", "*.js", "*.ts", "*.py", "*.go"]

[prompts]
# Optional: Identity and rules for the AI
# system_prompt = "You are an expert Git Commit Generator..."
# Optional: Template for the user message. Use {{diff}} as placeholder.
# user_prompt = "[INPUT DIFF]\n{{diff}}\n\n[OUTPUT]"

[ai_params]
num_predict = 500
temperature = 0.1
top_p = 0.9

[gemini]
api_key = ""
model = "gemini-2.0-flash"

[ollama]
model = "qwen2.5-coder:3b"
url = "http://localhost:11434/api/chat"
